.add-button {
  justify-content: center;
  align-items: center;
}

.add-button button {
  background: var(--accent);
  border-radius: 35px;
  border-style: none;
  color: #ffffff;
  cursor: pointer;
  flex-shrink: 0;
  font-size: 30px;
  font-weight: 500;
  padding: 3px 10px 3px 10px;
  text-align: center;
}

.add-button :hover {
  color: var(--c2);
}

.close-button {
  margin-left: 150px;
  margin-right: 150px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.buttons {
  display: flex;
  align-items: center;
}
