.tournament-form {
  margin: 10px;
}

.tournament-form .row {
  display: flex;
  gap: 10px;
}

.tournament-form .big-section {
  flex: 1;
}

.tournament-form .button-section {
  align-content: flex-end;
}

.tournament-form .small-section {
  width: 30%;
}

.tournament-form .private-section {
  width: 13%;
}
.tournament-form .teams {
  margin-top: 5px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3px;
  max-height: 200px;
  overflow-y: auto;
}

.tournament-form .team-item {
  background-color: var(--c2);
  padding: 5px;
}
