.simple-tournament {
  background-color: var(--c2);
  border: 2px solid var(--accent);
  border-radius: 10px;
  padding: 3px;
  display: flex;
  min-height: 120px;
  position: relative;
}

.simple-tournament .image {
  flex: 0 0 auto;
  margin: 1px;
}

.simple-tournament .image img {
  width: 120px;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.simple-tournament .content {
  flex: 1;
  margin-right: 10px;
  margin-left: 10px;
  display: flex;
  position: relative;
}

.simple-tournament .content .name {
  font-weight: 600;
  font-size: 1.7em;
  margin-right: 5px;
}
.simple-tournament .content .name:hover {
  color: var(--accent);
}

.simple-tournament .content .info {
  flex-grow: 1;
  display: flex;
  display: flex;
  flex-direction: column;
  position: relative;
}

.simple-tournament .content .fotter {
  color: gray;
  margin-top: auto;
  display: flex;
  text-align: center;
}

.simple-tournament .content .fotter .section {
  padding-right: 5px;
  padding-left: 5px;
  border-right: thin solid gray;
}

.simple-tournament .content .fotter .last {
  padding-right: 5px;
  padding-left: 5px;
}

.simple-tournament .content .fotter span {
  margin-left: 5px;
}

.simple-tournament .status {
  position: absolute;
  bottom: 3px;
  right: 3px;
}
