#main-menu {
  background: var(--c3);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
}

#main-menu .active span {
  color: var(--accent);
  text-decoration: underline;
}
#main-menu .active span:hover {
  color: var(--text);
}

#main-menu .name {
  font-weight: 700;
  font-size: 1.9rem;
  color: var(--accent);
  margin-left: 10px;
}

#main-menu span {
  font-weight: 600;
  font-size: 1.3rem;
  color: var(--text);
}

#main-menu .center span {
  padding-right: 5px;
  padding-left: 5px;
  border-left: thin solid gray;
}

#main-menu .center .first {
  border-left: none;
}

#main-menu span:hover {
  color: var(--c1);
  text-decoration: underline;
}

#main-menu .left {
  display: flex;
  align-items: center;
  font-size: larger;
}

#main-menu .left img {
  width: 45px;
  height: auto;
}

#main-menu .center {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}

#main-menu .right {
  margin-left: auto;
}

#main-menu .right {
  text-align: right;
  cursor: pointer;
}
