:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: var(--text);

  color-scheme: light dark;
  background-color: var(--back);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --back: #1b1d22;
  --c1: #444546;
  --c2: #3c3f42;
  --c3: #161616;
  --accent: #db4105;
  --text: white;
  --text2: gray;
  --line: rgb(180, 178, 178);
}

a {
  text-decoration: none;
  color: var(--text);
}

a:hover {
  text-decoration: none;
  color: var(--accent);
}

body {
  margin: 0;
  padding: 0;
}

.element {
  padding: 10px;
  background-color: var(--c1);
  border-radius: 10px;
}

.element .header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.element .header h3 {
  margin-right: auto;
}

.element .header .center {
  flex: 1;
  text-align: center;
}

.element .header .right {
  position: absolute;
  right: 0;
}

.main {
  margin: 2%;
}

h3 {
  margin-top: 0;
  margin-bottom: 3px;
  font-size: 1.8rem;
  color: var(--text);
}
